* {
    box-sizing: border-box;
  }

  
body {
    margin: 0;
    font-family:'Roboto', sans-serif;
    background-color:#e5e5e5ff;
    color: #242f40ff;
    }

header {
    background-color: #cca43bff;
    padding: 1% 5%;
    position:sticky;
    top:0;
    width: 100%;
    opacity: 98%;
    }

header .headdiv {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
}

img {
    display: inline-block;
    width: 5rem;
    float: right;
    margin:1rem;

}

img:hover {
    opacity: 70%;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 1% 0;
    border: #363636ff solid 1px;
    background-color: white;
}

.container h2 {
    margin: 2%;
}

section{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;

}
.colors {
    width: 100%;
    display: flex;
    text-align: center;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    }

.jet {
    background-color: #363636ff;
    color: white;
     }

.gunmetal {
    background-color: #242f40ff;
    color: white;
    }

.satin-sheen-gold {
    background-color: #cca43bff;
    }

.platinum {
    background-color: #e5e5e5ff;
    }

.white {
    background-color: #ffffffff;
    
    border: solid black 1px;
    }

.colors .color {
    padding: 6rem 0rem;
    display: inline;
    width: 100%;
    margin: 0 auto;
    }

.color-class p {
    font-size: 0.8rem;
    }

    .color-class:hover, .color:hover{
    opacity: 80%;
    }

.color p {
    font-size: 0.8rem;
}

.color h2 {
    font-size: 2rem;
}

.white:hover{
    background-color: #e5e5e5ff;
    opacity: 50%;
    }

section .color-class {
    display: inline-block;
    padding: 4rem 5rem;
    margin: 1rem 1rem;
    text-align: center;
    min-width: 30px;
}

h1{
    color: #242f40ff;
}

/* Fonts */

.light-300 {
    font-weight: 300;
}

.medium-500 {
    font-weight: 500;
}

.bold-900 {
    font-weight: 900;
}

.black-900-italic {
    font-weight: 900;
    font-style: italic;
}

.staatliches-400 {
    font-family: 'Staatliches', cursive;
}

section .fonts__fonts {
    display: inline-block;
    margin: 1rem 1rem;
}

section .fonts__fonts:hover {
    background-color: #e5e5e5ff;
}
