:root {
    --option1: 'Calistoga', cursive;
    --option2: 'Rampart One', cursive;
    --option3: 'Yuji Syuku', serif;
    --option4: 'Girassol', cursive;

    --dnd-blue: #30699E;
    --dnd-yellow: #E8DE49;
    --dnd-orange: #b65219;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--option1);
    text-align: center;
    background-color: var(--dnd-blue);
    color: var(--dnd-yellow);
}

.wrapper {
    max-width: 375px;
    max-height: 667px;
    position: relative ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    padding: 5rem 5rem;
    /* overflow: hidden; */
    background-color: var(--dnd-blue);
    border-radius: 5px;

}

header {
    width: 90%;
    max-width: 500px; 
}

header h1 {
    font-size: 2.5rem;
    font-family: var(--option4);
    color: var(--dnd-yellow);
    margin: 1rem;
    line-height: 2.3rem;
}

header h2 {
    font-size: 1rem;
    font-family: var(--option3);
}

.generator h3 {
    font-size: 6rem;
    line-height: 6.5rem;
    font-family: var(--option1);
}

.button {
    border: none;
    padding: 0.7rem;
    color: var(--dnd-orange);
    background-color: var(--dnd-yellow);
    width: 100%;
    transform: rotate(-45deg) translate(3%, -600%);
    position: absolute;
    font-size: 1rem;
}

footer {
    position: absolute;
    bottom: 0.8rem;
}

.generator {
    border: 3px solid rgb(243, 245, 218);
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 1rem;
    overflow: hidden;
}

.thing  {
    width: 200%;
    /* background-color: #b65219; */
    display: flex;
}

.thing h3 {
    width: 100%;
}

.results {
    background-color: #30699E;
}