:root {
    --option1: 'Calistoga', cursive;
    --option2: 'Rampart One', cursive;
    --option3: 'Yuji Syuku', serif;
    --option4: 'Girassol', cursive;

    --dnd-blue: #30699E;
    --dnd-yellow: #E8DE49;
    --dnd-orange: #b65219;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main {
    width: 100vw;
} */

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--option1);
    text-align: center;
    background-color: var(--dnd-blue);
    color: var(--dnd-yellow);
}

.wrapper {
    position: relative ;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 5rem 5rem; */
    background-color: var(--dnd-blue);
    border-radius: 5px;
    /* border: #b65219 solid ; */
    height: 100vh;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;
    overflow: hidden;


}

header {
    margin: ;
}

header h1 {
    font-size: 2.5rem;
    font-family: var(--option4);
    color: var(--dnd-yellow);
    margin-top: 3em;
    line-height: 1.5rem;
}

header h2 {
    font-size: 1rem;
    font-family: var(--option3);
    margin-top: 1em;
}

.button {
    border: none;
    padding: 0.7rem;
    color: var(--dnd-orange);
    background-color: var(--dnd-yellow);
    width: 100%;
    /* margin: 1rem 0; */
    position: absolute;
    z-index: 5;
    transform: rotate(-35deg) translate(-35%, -100%);
    
}

.generator {
    border: 3px solid rgb(243, 245, 218);
    width: 100%;
    /* padding: 0.8rem; */
    border-radius: 5px;
    margin-top: 1rem;
    overflow: hidden;
    max-width: 350px;
}

.generator h3 {
    font-size: 4rem;
    line-height: 6.5rem;
    font-family: var(--option1);
}




.thing  {
    width: 200%;
    /* background-color: #b65219; */
    display: flex;
    background-color: #b65219;

}

.thing:hover {
    transform: translate(-50%, 0);
    transition-duration: 0.5s;
}

.thing:not(:hover) {
    /* transform: translate(-50%, 0); */
    transition-duration: 1s;
}

.thing h3 {
    width: 100%;
    max-width: 350px;
}

.thing p {
    width: 100%;
    max-width: 350px;
}

.results {
    background-color: #30699E;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin: 1em;
}