html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(240, 240, 240);
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    font-family: "Bebas Neue";
    vertical-align:middle;
}

th {
    background-color: #005f73ff;
    color: white;
    font-size: 2rem;
    letter-spacing: 1.05rem;
    padding: 1rem;
}


td  {
    background-color: #94d2bdff;
    padding: 1em;
    width: 200px;
    font-size: 1.2rem;
}

table {
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.square1 {
    height: 4rem;
    width: 4rem;
    background-color:#ae2012ff;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 50%;
}

.square2 {
    height: 4rem;
    width: 4rem;
    background-color:#ee9b00ff;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: 50%;
}

.inline {
    display: inline;
}


.inline-block {
    display: inline-block;
}


.block {
    display: block;
}

