html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(240, 240, 240);
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
}

th {
    background-color: rgb(87, 236, 174);
}


td  {
    background-color: bisque;
    padding: 1em;
    width: 200px;
}

table {
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.square1 {
    height: 50px;
    width: 50px;
    background-color: blue;
}

.square2 {
    height: 50px;
    width: 50px;
    background-color: rgb(208, 226, 43);
}

.inline1 {
    display: inline;
    width: 50px;
    font-size: 50px;
}


.inline-block {
    display: inline-block;
}


.block {
    display: block;
}