* {
    box-sizing: border-box;
    margin: 0 auto;
}

html{
    font-family: 'Merriweather', serif;
    background-image: url(./photos/pexels-rachel-claire-4825669.jpg);
    background-size: cover;
    background-attachment: fixed;

}

header {
    display: flex;
    background-color: #FFD97D;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
}

li {
    padding: 1em;
    text-align: center;
    text-decoration: none;
    margin-top: -2em;

}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.logo {
    display: flex;
    width: 100%;
    max-width: 600px;
}

img {
    width: 100%;
}

section {
    text-align: center;
    margin: auto;
    padding: 0em 0;
    background: rgba(255, 217, 125, 1);
   

}

.row {
    display: flex;
    margin: 2em;


}

.item  {
    width: 100%;
    text-align: center;
}

.icon  {
    width: 40%;
}

.person {
    width: 40%
}

.person h4 {
    margin: 1em 0;
}

.person p {
    text-align: left;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    background-image: url(./photos/pexels-rachel-claire-4825669.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: black;

}

.hero h1 {
    padding: 0;
    width: 70%;
    max-width: 700px;
    opacity: 1;
    z-index: 5;
    color: black;
    background: rgba(255, 217, 125, 0.85);

}

.hero p {
    width: 70%;
    padding: 1em 4em;
    text-align: left;
    max-width: 700px;
    color: black;
    background: rgba(255, 217, 125, 0.85);
}

.services  {
    /* border: 1px solid black; */
    padding: 1em;
    margin: 1em auto;
}

footer {
    width: 70%;
    padding: 1em 4em;
    text-align: left;
    max-width: 700px;
    color: black;
    background: rgba(255, 217, 125, 0.85);
}